@import helper._
@import org.hyperdiary.journal.forms.LabelData

@(labelForm: Form[LabelData])(implicit request: MessagesRequestHeader)

@labelledTextInput(name: String, label:String) = {
    <div class="w3-padding">
        <label for="@name">@label:</label>
        <input type="text" id="@name" name="@name" />
    </div>
}

@button(value: String, label: String) = {
    <button name="action" value="@value" class="w3-btn w3-teal">@label</button>
}

@main("Welcome to Play") {
    <header class="w3-container w3-teal">
        <h1>Label Maker</h1>
    </header>
    <article class="w3-container w3-monospace">
        <div class="w3-row">
            <div class="w3-col m8 l9">
                @form(action = org.hyperdiary.journal.controllers.routes.LabelController.submit()) {
                @CSRF.formField
                    @labelledTextInput(name = "label-text", label = "Label text")
                    <div class="w3-padding">
                        <label for="target-graph">Target Graph:</label>
                        <select id="target-graph" name="target-graph">
                            <option value="dbpedia">DBPedia</option>
                            <option value="wikidata">Wikidata</option>
                            <option value="hyperdiary">HyperDiary</option>
                        </select>
                    </div>
                    @labelledTextInput(name = "target-name", label = "Target name")
                    @button(value = "add", label = "Add and make another")
                    @button(value = "finish", label = "Add and finish")
                }
            </div>
        </div>
    </article>
    <footer class="w3-container w3-teal"></footer>
}