@()

@main("Welcome to Play") {
<header class="w3-container w3-teal">
    <h1>Kenneth</h1>
    <h5>1926-2018</h5>
</header>
<article class="w3-container w3-monospace">
    <div class="w3-row">
        <div class="w3-col m8 l9">
            <table class="w3-table w3-padding w3-striped">
                <tr>
                    <th colspan="2">Kenneth Robert Walpole</th>
                </tr>
                <tr>
                    <td>Given name</td>
                    <td>Kenneth Robert</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>Walpole</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>male</td>
                </tr>
                <tr>
                    <td>Birth date</td>
                    <td>8th August 1926</td>
                </tr>
                <tr>
                    <td>Birth place</td>
                    <td><a href="">Rochford</a></td>
                </tr>
                <tr>
                    <td>Death date</td>
                    <td>20th July 2018</td>
                </tr>
                <tr>
                    <td>Death place</td>
                    <td><a href="">Exeter</a></td>
                </tr>
                <tr>
                    <td>Parents</td>
                    <td><a href="">Louisa</a> and <a href="">Ernest</a></td>
                </tr>
                <tr>
                    <td>Siblings</td>
                    <td><a href="">Peggy</a></td>
                </tr>
                <tr>
                    <td>Children</td>
                    <td><a href="">Lois</a>, <a href="">Peter</a>, <a href="">Robert</a></td>
                </tr>
            </table>
            <ul class="w3-ul">
                <li><h2>Education</h2></li>
                <li><a href="">Manchester Grammar School</a></li>
                <li><a href="">Ridgewood High School (New Jersey)</a></li>
                <li><a href="">Ramsey High School (New Jersey)</a></li>
                <li><a href="">Staff College, Camberley</a></li>
                <li><a href="">Henley Business School</a></li>
            </ul>
            <ul class="w3-ul">
                <li><h2>Employment</h2></li>
                <li><a href="">Royal Navy</a></li>
                <li><a href="">British Army</a></li>
            </ul>
            <ul class="w3-ul">
                <li><h2>Military Units</h2></li>
                <li><a href="">Royal Artillery</a></li>
            </ul>
            <ul class="w3-ul">
                <li><h2>Residence</h2></li>
                <li><a href="">1935</a></li>
                <li><a href="">1944</a></li>
                <li><a href="">1977-1987</a></li>
                <li><a href="">1987-2018</a></li>
            </ul>
        </div>
        <div class="w3-col m4 l3">
            <img src="../assets/images/Pops.jpg" class="w3-image w3-margin-top"/>
        </div>
    </div>

</article>
<footer class="w3-container w3-teal"></footer>
}
