@import org.hyperdiary.journal.models.{PersonHtml,LabelledLink}
@import java.time.format.DateTimeFormatter

@(title: String, dates: String, dateFormat: DateTimeFormatter, person: PersonHtml)

@main("Welcome to Play") {
<header class="w3-container w3-teal">
    <h1>@{person.givenName + " " + person.surname}</h1>
    <h5>1926-2018</h5>
</header>
<article class="w3-container w3-monospace">
    <div class="w3-row">
        <div class="w3-col m8 l9">
            <h2>About</h2>
            <table class="w3-table w3-padding w3-striped">
                <tr>
                    <td>Given name</td>
                    <td>@person.givenName</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>@person.surname</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>@person.gender</td>
                </tr>
                @if(person.birthDate.nonEmpty) {
                    <tr>
                        <td>Birth date</td>
                        @person.birthDate.get match {
                            case Right(date) => { <td>@date.format(dateFormat)</td> }
                            case Left(dateString) => { <td>@dateString</td> }
                        }
                    </tr>
                }
                @if(person.birthPlace.nonEmpty) {
                    <tr>
                        <td>Birth place</td>
                        <td><a href="@person.birthPlace.get.uri">@person.birthPlace.get.label</a></td>
                    </tr>
                }
                @if(person.deathDate.nonEmpty) {
                    <tr>
                        <td>Death date</td>
                        @person.deathDate.get match {
                            case Right(date) => { <td>@date.format(dateFormat)</td> }
                            case Left(dateString) => { <td>@dateString</td> }
                        }
                    </tr>
                }
                @if(person.deathPlace.nonEmpty) {
                    <tr>
                        <td>Death place</td>
                        <td><a href="@person.deathPlace.get.uri">@person.deathPlace.get.label</a></td>
                    </tr>
                }
                <tr>
                    <td>Parents</td>
                    <td>
                    @if(person.parents.mother.uri.nonEmpty) {
                        <a href="@person.parents.mother.uri.get">@person.parents.mother.label</a>
                    } else {
                        @person.parents.mother.label
                    } and
                    @if(person.parents.father.uri.nonEmpty) {
                        <a href="@person.parents.father.uri.get">@person.parents.father.label</a>
                    } else {
                        @person.parents.father.label
                    }
                </tr>
                @if(!person.siblings.isEmpty) {
                    <tr>
                        <td>Siblings</td>
                        <td>
                        @for(sibling <- person.siblings) {
                            <a href="@sibling.uri">@sibling.label</a>
                        }
                        </td>
                    </tr>
                }
                @if(!person.spouses.isEmpty) {
                    <tr>
                        <td>Spouse</td>
                        <td>
                        @for(spouse <- person.spouses) {
                            <a href="@spouse.uri">@spouse.label</a>
                        }
                        </td>
                    </tr>
                }
                @if(!person.children.isEmpty) {
                    <tr>
                        <td>Children</td>
                        <td>
                        @for(child <- person.children) {
                            <a href="@child.uri">@child.label</a>
                        }
                        </td>
                    </tr>
                }
            </table>
            <h2>Education</h2>
            <ul class="w3-ul">
            @for(educationalEstablishment <- person.educationalEstablishments) {
                <li><a href="@educationalEstablishment.uri">@educationalEstablishment.label</a></li>
            }
            </ul>
            <h2>Employment</h2>
            <ul class="w3-ul">
            @for(employer <- person.employers) {
                <li><a href="@employer.uri">@employer.label</a></li>
            }
            </ul>
            @if(!person.militaryUnits.isEmpty) {
                <h2>Military units</h2>
                <ul class="w3-ul">
                @for(militaryUnit <- person.militaryUnits) {
                    <li><a href="@militaryUnit.uri">@militaryUnit.label</a></li>
                }
                </ul>
            }
            <h2>Residences</h2>
            <ul class="w3-ul">
            @for(residence <- person.residences) {
                <li><a href="@residence.uri">@residence.label</a></li>
            }
            </ul>
            <h2>Related images</h2>
            <ul class="w3-ul">
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="w3-col m4 l3">
            <img src="http://krw.localhost:3000/photo/Pops.jpg" class="w3-image w3-margin-top"/>
        </div>
    </div>

</article>
<footer class="w3-container w3-teal"></footer>
}
