@()

@main("Welcome to Play") {
<header class="w3-container w3-teal">
    <h1>Kia Ora</h1>
    <h5>Stanford-le-Hope</h5>
</header>
<article class="w3-container w3-monospace">
    <div class="w3-row w3-padding">
        <div class="w3-col m8 l9">
            <h2>About</h2>
            <table class="w3-table w3-striped">
                <tr>
                    <td>Type</td>
                    <td>Residence</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>Kia Ora, 128 Branksome Avenue, Stanford-le-Hope</td>
                </tr>
                <tr>
                    <td>District</td>
                    <td><a href="">Stanford-le-Hope</a></td>
                </tr>
                <tr>
                    <td>Latitude, Longitude</td>
                    <td><a href=""><a title="Link to OpenStreetMap" href="https://www.openstreetmap.org/?mlat=51.529793800794316&mlon=0.4365159435017729#map=17/51.529793800794316/0.4365159435017729">51.529793800794316, 0.4365159435017729</a></a></td>
                </tr>
            </table>
            <h2>Residents</h2>
            <ul class="w3-ul">
                <li><a href="">Ernest (1921)</a></li>
                <li><a href="">Louisa (1921)</a></li>
            </ul>
            <h2>Related images</h2>
            <ul class="w3-ul">
                <li><a href="">Louisa Walpole with Peggy as a baby. (1921)</a></li>
                <li><a href="">Peggy as a baby. (1921)</a></li>
                <li><a href="">Louisa with Peggy after a bath. (1921)</a></li>
                <li><a href="">Ernest, Louisa and Aunty Tiny at Kia Ora. (1922)</a></li>
                <li><a href="">Louisa feeding chickens at Kia Ora. (1922)</a></li>
                <li><a href="">Ernest and Louisa at Kia Ora. (1922)</a></li>
            </ul>
            <h2>Related links</h2>
            <ul class="w3-ul">
                <li><a href="">https://democracy.thurrock.gov.uk/Data/Planning%20Committee/200403241900/Agenda/$14504%20-%202210.rtf.pdf</a></li>
                <li><a href="">https://www.stanford-le-hope.org/a-history-to-1940/the-balstonia-estate</a></li>
            </ul>
        </div>
        <div class="w3-col m4 l3">
            <h2>Image</h2>
            <img alt="Kia Ora" src="http://krw.localhost:3000/photo/Kia_Ora.jpg" class="w3-image w3-margin-top"/>
        </div>
    </div>

</article>
<footer class="w3-container w3-teal"></footer>
}